<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Region Add - MCC 63</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-8">
                <form th:action="@{/region/create}" th:object="${region}" th:method="POST">
                    <div class="mb-3 position-relative">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{name}" />
                        <p class="invalid-tooltip" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error
                        </p>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>