<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout :: head(~{:: title}, ~{:: link}, ~{:: script})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Employee &mdash; Metrodata</title>

    <!-- Page Specific CSS File -->
    <link rel="stylesheet" href="#">

    <!-- Page Specific JS File -->
    <script th:src="@{/js/employee.js}"></script>
</head>

<body>
    <div id="id" th:replace="fragments/layout :: app(~{:: .section})">
        <section class="section">
            <div class="section-header">
                <h1>Detail Employee</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item"><a th:href="@{/home}">Home</a></div>
                    <div class="breadcrumb-item"><a th:href="@{/employee}">Employee</a></div>
                    <div class="breadcrumb-item active">Detail</div>
                </div>
            </div>
            <div class="section-body">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody class="border-top" style="border-top-color: #f6f6f6 !important;">
                                    <tr>
                                        <th scope="row">Fullname</th>
                                        <td th:text="${employee.fullName}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td th:text="${employee.address}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td th:text="${employee.email}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Username</th>
                                        <td th:text="${employee.user.username}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Roles</th>
                                        <td>
                                            <div class="badge badge-success" th:each="role: ${employee.user.roles}"
                                                th:text="${role.name}"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>