<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(~{:: title})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country &mdash; Metrodata</title>
</head>

<body>
    <div id="app" th:replace="fragments/layout :: app(~{:: .section})">
        <section class="section">
            <div class="section-header">
                <h1>Country</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item"><a th:href="@{/home}">Home</a></div>
                    <div class="breadcrumb-item active">Country</div>
                </div>
            </div>
            <div class="section-body">

                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
                    <span th:text="${message}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary js-create" data-toggle="modal" data-target="#countryModal"><span
                                class="fa fa-plus mr-2"></span>Create</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped display" width="100%" cellspacing="0" id="countryTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Region</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- List of Countries -->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Region</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="countryModalLabel">Country Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="" id="countryForm">
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" id="code" name="code" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="regionId" class="form-label">Region</label>
                            <select class="custom-select" id="regionId" name="regionId">
                                <option disabled selected value="">Select Region</option>
                                <!-- List of Region -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-whitesmoke">
                    <button type="submit" class="btn btn-primary" form="countryForm">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Specific JS File -->
    <script th:src="@{/js/country.js}"></script>
</body>

</html>